{% extends 'base.html' %}

{% block content%}
    <div class="row">
       <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Assign Subjects</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class = "btn btn-success" value="Assign Subjects">
        </form>
       </div>
    <div class="col-sm-5 offset-3">
            <h4 class="text-center alert alert-info">List of Classes with Subjects</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Subjects</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for st in std %}
                        <tr>
                        <th scope="row">{{st.id}}</th>
                        <td>{{st.classname}}</td>
                        <td>
                            {% for s in st.subjectname.all %}
                                {{s}},
                            {% endfor %}
                        </td>
                        <td> <a href="{% url 'updateassignsubject' st.id %}" class="btn btn-info btn-sm">Update</a> </td>
                        <td> <a href="{% url 'deleteassignsubject' st.id %}" class="btn btn-danger btn-sm">Delete</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}