<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Buniyaad</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/sidebars.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logos/headerlogo.png" alt="" width="200" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'selectclass' %}">Select Class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/">Admin Area</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin">Admin Dashboard Django</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


 <div class="container mt-5">
     {% block content%}

     {% endblock content%}
 </div>

<!-- Copyright -->
  <div class="footer-copyright text-center py-3 mt-5">© 2021 Copyright:
    <a href="https://missionbuniyaad.com/"> MissionBuniyaad.com</a>
  </div>
  <!-- Copyright -->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>    
<script src="/static/js/bootstrap.js"></script> 
<script src="/static/js/sidebars.js"></script>   

</body>
</html>