{% extends 'base.html' %}

{% block content%}
    <div class="row">
       <div class="col-sm-12">
        <h4 class="text-center alert alert-info">Admin Area - Mission Buniyaad</h4>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manage Subjects</h5>
              <p class="card-text">Click the below button to manage <br> subjects.</p>
              <a href="{% url 'addsubject' %}" class="btn btn-success">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manage Classes</h5>
                <p class="card-text">Click the below button to <br> manage classes</p>
                <a href="{% url 'addclass' %}" class="btn btn-success">Click Here</a>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Assign Subjects</h5>
              <p class="card-text">Click the below button to assign <br> subjects in various classes.</p>
              <a href="{% url 'assignsubject' %}" class="btn btn-success">Click Here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manage Chapters</h5>
              <p class="card-text">Click the below button to manage <br> chapters in various subjects.</p>
              <a href="{% url 'addchapter' %}" class="btn btn-success">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Manage Topics</h5>
                <p class="card-text">Click the below button to manage <br> topics in various chapters.</p>
                <a href="/" class="btn btn-success">Click Here</a>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upload Content</h5>
              <p class="card-text">Click the below button to upload <br> contents like videos and assignments.</p>
              <a href="{% url 'uploadcontent' %}" class="btn btn-success">Click Here</a>
            </div>
          </div>
        </div>
      </div>
{% endblock content%}