{% extends 'base.html' %}
{% load embed_video_tags %}


{% block content%}
    <div class="row">
        <div class="col-sm-12" id="viewrelatedContent">
            <h4 class="text-center alert alert-info">View Related Contents</h4>
        </div>  

        <div class="container">
           <div class="col">
            <div class="row">
            {% for con in content %}
                {% if forloop.first %}
                    <p class="fw-bolder">Sub: {{con.subjectname}}</p>
                    <p class="fw-bold">Chapter: {{con.chname}}</p>
                {% endif %}
            {% endfor %}
            <hr>
            {% for con in content %}
               <div class="col-8 mx-20px mt-5">
                    {% video con.videourl as my_video %}
                    <a href = "{{ my_video.url }}" target = '__blank' ><img style="width: 600px; height: 360px; padding:10px;"src="{{my_video.thumbnail}} "></img></a>
                    {% endvideo %}<br>
                    <p class="fw-bold">Video Title: {{con.videotitle}}</p>
                    <a href="{{con.assignmenturl}}" target = '__blank' class="btn btn-info btn-sm">Click here for Assignment</a>
                    <hr>
               </div>
            {% endfor %}
            </div>
        </div>
        </div>   
{% endblock content%}