{% extends 'base.html' %}

{% block title %}
Student Homepage
{% endblock title %}

{% block content %}
<div>
    <div class="row">
        <div class="col fw-normal fs-4 text-dark text-center pt-2">
            {{today|date:"d M Y"}}
        </div>

        <div class="col mx-4 pt-2 fw-bold text-center">
            Select your respective class and stream to access today's content
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="{% url 'view_content_1' %}" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 1</h5>
        </div></a>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 2</h5>
        </div></a>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 3</h5>
        </div></a>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 4</h5>
        </div></a>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 5</h5>
        </div></a>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
        <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
        <h5 class="card-title text-center" >Class 6</h5>
        </div></a>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
<div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 7</h5>
            </div></a>
        </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 8</h5>
            </div></a>
        </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 9</h5>
            </div></a>
        </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 10</h5>
            </div></a>
        </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 11</h5>
            </div></a>
        </div>
    </div>
    <div class="col-sm-2">
      <div class="card bg-light mb-3 shadow" style="max-width:10rem;">
            <a href="" style="text-decoration: none;color: rgb(0, 0, 0);"><div class="card-body">
            <h5 class="card-title text-center" >Class 12</h5>
            </div></a>
        </div>
    </div>
  </div>
</div>
{% endblock content %}