{% extends 'base.html' %}


{% block content%}
    <div class="row">
       <div class="col-sm-6" id="classSubject">
        <h4 class="text-center alert alert-info">Upload Content</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class = "btn btn-success" id="submit", value="Submit">
        </form>
       </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_classname").change(function () {
        const url = $("#contentForm").attr("subject-url");  // get the url of the `load_cities` view
        const classid = $(this).val();
         
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'class_id': classid  // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_subjectname").html(data);  // replace the contents of the city input with the data that came from the server
               }
        });

    });

    $("#id_subjectname").change(function () {
        const url = $("#contentForm").attr("chapter-url");  // get the url of the `load_cities` view
        const classid = $(this).val();
        const subid = $(this).val();

         
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'class_id': classid,
                'sub_id':subid  // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_subjectname").html(data);  // replace the contents of the city input with the data that came from the server
               }
        });

    });
</script> {% endcomment %}
{% endblock content%}