{% extends 'base.html' %}
{% load embed_video_tags %} 
    

{% block content %}

    <div class="row">
        <div class="col-sm-12" id="viewContent">
            <h3 class="text-center alert alert-info">View Content</h3>
        </div>
    <div class="row">   
       <div class="col-sm-2"> 
        {% for con in searchresult %}
            {% if forloop.first %}
                <p style="float: left;" class="fs-4 fw-bold">{{con.classname}}</p>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-sm-2 offset-8">
            <p style="float: right;" class="fs-5 fw-light">{{selectdate|date:"N d, Y" }}</p>
        </div>

       <div class="row">
        <div class="col-sm-12">
            <form action="" method="POST">
                {% csrf_token %}
                <p style="float: right;">
                    Select Date: <input type="date" name="selectdate">
                    <span style="margin-left: 10px;">
                        <input type="submit" class="btn btn-info btn-sm"></input>
                    </span>
                </p>
            </form>
        </div>

       <p align = "center" class="fs-4 fw-normal">Practice on the worksheet by watching today's video</p>
        <hr>
                      
       <div class="container">
           <div class="col">
            <div class="row">
            {% for con in searchresult %}
               <div class="col-8 mx-20px mt-5">
                    <p class="fw-bolder">Sub: {{con.subjectname}}</p>
                    <p class="fw-bold">Chapter: {{con.chname}}</p>
                    {% video con.videourl as my_video %}
                    <a href = "{{ my_video.url }}" target = '__blank' ><img style="width: 600px; height: 360px; padding:10px;"src="{{my_video.thumbnail}} "></img></a>
                    {% endvideo %}<br>
                    <p class="fw-bold">Video Title: {{con.videotitle}}</p>
                    <a href="{{con.assignmenturl}}" target = '__blank' class="btn btn-info btn-sm">Click here for Assignment</a>
                    {% empty %}
                    <p style="color:red;text-align:center;font-size:20px;"> Sorry no videos uploaded today... </p>
                    <hr>
               </div>
            {% endfor %}
            </div>
        </div>
        </div>

        <div class="container mt-5 ">
            <div class="row">
                <h5>Recommended Videos</h5>
                <hr>
                <div class="col-12 ">
                {% for con in allcontent %}
                    {% video con.videourl as my_video %}
                    <a href = "{{ my_video.url }}" target = '__blank' ><img style="width: 200px; height: 150px; padding:6px;"src="{{my_video.thumbnail}} "></img></a>
                    {% endvideo %}
                {% endfor %}
                <hr>
                </div>
            </div>
        </div>
        
{% endblock content %}
