{% extends "dashboard_base.html" %}

{% block title %}
  School Level Dashboard
{% endblock title %}

{% block label %}
  School Level Dashboard
{% endblock label %}

{% block content %}
<div class="container-fluid mt-1">
  <div class="row">
    <iframe src="https://agmark-metabase.gdidata.in/public/dashboard/16bab22b-c950-448d-8b59-027c1f53b763?week=13&district=BHILWARA&block=SUWANA&school=GOVT.%20SENIOR%20SECONDARY%20SCHOOL%20OJYARA%20(222499)" frameborder="0" height="2000"></iframe>
  </div>
</div>

{% endblock content %}